{{#each this}}
<div class="card__content">
    <div class="card__information">
            <h1 class="card__name">{{this.name}}</h2>
            <p class="card__capital">Capital:<span class="card__text">
                {{capital}}</span>
            </p>

            <p class="card__population">Population:<span class="card__text">
                {{population}}</span>
            </p>
            <p class="card__languages">Languages:</p>
            <ul class="tag-list"></ul>
                {{#each languages}}
                <li class="tag-list__item">{{name}}</li>
                {{/each}}
            </ul>
            </div>
        <div class="card__img">
            <img src="{{flag}}" alt="{{name}}" class="card__image" width="400" />
        </div>
</div>
{{/each}}